* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

:root {
  /* ### Primary */

  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  /* ### Neutral */

  --off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

.logo {
  width: 3rem;
}

.right-container {
  gap: 1vh !important;
  background-color: var(--Very-dark-blue);
  color: white;
}

.new {
  font-size: 2rem;
  font-weight: 600;
  color: var(--Soft-orange) !important;
}

span {
  font-size: 1rem;
  font-weight: 600;
}

.description {
  font-size: 0.7rem !important;
  line-height: 1.5;
}

h2 {
  font-weight: 300 !important;
  font-size: 0.7rem !important;
  line-height: 2vw !important;
}

button {
  background-color: var(--Soft-red);
  color: white;
  padding: 8px 10px;
  font-size: 1vw !important;
  letter-spacing: 2px;
  border: none;
  width: 150px;
}

.brigth-container {
  margin-left: 0px !important;
  padding-left: 0px !important;
  margin-top: 20px !important;
}

.brigth-text {
  font-size: 2rem;
  padding-left: 0px !important;
  padding-right: 100px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-weight: 800;
  line-height: 1;
}

.lower-text {
  font-size: 1vw !important;
  line-height: 1.5 !important;
}

.head-lower-text {
  font-weight: 600;
  font-size: 1vw !important;
  line-height: 1 !important;
}

h3 {
  font-size: 1.5vw !important;
  color: var(--Grayish-blue);
  opacity: 50% !important;
}

.read-btn:hover {
  background-color: var(--Very-dark-blue);
}

.nav-link {
  font-size: 1.2rem !important;
}

.nav-link:hover {
  color: var(--Soft-orange) !important;
}

.img-01 {
  height: 150px !important;
}

.navbar-toggler.collapsed > .close,
.navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
  background-image: url(/assets/images/icon-menu-close.svg) !important;
}

/* ---------------------MEDIA QUERY -----------------*/

@media screen and (max-width: 576px) {
  .logo {
    width: 10vw;
  }

  .new {
    font-size: 7vw !important;
    font-weight: 600;
    color: var(--Soft-orange);
  }

  span {
    font-size: 4vw;
    font-weight: 600;
  }

  .description {
    font-size: 3vw !important;
    line-height: 2 !important;
  }

  h2 {
    font-weight: 300 !important;
    font-size: 4vw !important;
    line-height: 1.5 !important;
  }

  .right-container {
    gap: 3vh !important;
    width: 95% !important;
  }

  button {
    background-color: var(--Soft-red);
    color: white;
    padding: 8px 10px;
    font-size: 3vw !important;
    letter-spacing: 2px;
    border: none;
    width: 150px;
    margin-bottom: 50px !important;
  }

  .brigth-text {
    font-size: 10vw;
    font-weight: 800;
    line-height: 1;
  }

  .lower-text {
    font-size: 2.5vw !important;
    line-height: 1.5 !important;
  }

  .head-lower-text {
    font-size: 4vw !important;
    line-height: 1 !important;
  }

  h3 {
    font-size: 6vw !important;
    color: var(--Grayish-blue);
    opacity: 50% !important;
  }

  .lower-container {
    gap: 30px;
    margin-bottom: 50px !important;
    margin-top: 50px !important;
  }

  .nav-link {
    font-size: 3vw !important;
  }
}
